.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.select {
  display: flex;
  width: 186rem;
  justify-content: space-between;
  align-items: center;
}

.sorting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}

